/* styles.css */
/* Entire Website */
body{
background-color:#FFF9D6;
font-family:'Quicksand', sans-serif;
  color:#D84315;
}
/* Main Heading */
h1{
  font-family:'Gravitas One', serif;
  color:#C62828;
  text-align:center;
  font-size:52px;
  margin-top:30px;
}
/* Subheadings */
h2{
  font-family:'Gravitas One', serif;
  color:#EF6C00;
  font-size:30px;
  margin-top:30px;
}
/* Paragraph */
p{
  font-size:20px;
  line-height:1.7;
}
/* Lists */
ul, ol{
 font-size:20px;
}

